.alex {
  width: 100%;
  /* padding: 90px 0; */
}

.alex .wrapper {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

/* Main Section */
.alex .heroSection {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  background: #fff;
  padding: 60px;
  border-radius: 35px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  position: relative;
  overflow: hidden;
}

/* Decorative Blur */
.alex .heroSection::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 280px;
  background: rgba(37, 99, 235, 0.08);
  border-radius: 50%;
  top: -100px;
  right: -100px;
}

/* Left Content */
.alex .heroSection span:first-child {
  flex: 1;
  position: relative;
  z-index: 2;
}

.alex .heroSection h1 {
  font-size: 52px;
  line-height: 1.2;
  color: #1e293b;
  margin-bottom: 30px;
  font-weight: 700;
}

.alex .heroSection p {
  font-size: 17px;
  line-height: 1.9;
  color: #475569;
  margin-bottom: 18px;
}

/* Right Image */
.alex .heroSection span:last-child {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.alex .heroSection img {
  width: 100%;
  max-width: 520px;
  border-radius: 25px;
  object-fit: cover;
  box-shadow: 0 20px 45px rgba(37, 99, 235, 0.2);
  transition: all 0.4s ease;
  animation: imageAnime 4s ease-in-out infinite normal;
}

@keyframes imageAnime {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.alex .heroSection img:hover {
  transform: scale(1.03) translateY(-8px);
}

@media (max-width: 1080px) {
  .alex {
    width: 100%;
  }

  .alex .wrapper {
    width: 95%;
    max-width: 1400px;
    margin: auto;
  }

  /* Main Section */
  .alex .heroSection {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    background: #fff;
    padding: 50px;
    border-radius: 35px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
    position: relative;
    overflow: hidden;
  }

  /* Decorative Blur */
  .alex .heroSection::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    background: rgba(37, 99, 235, 0.08);
    border-radius: 50%;
    top: -100px;
    right: -100px;
  }

  /* Left Content */
  .alex .heroSection span:first-child {
    /* border: 1px solid black; */
    flex: 1;
    position: relative;
    z-index: 2;
  }

  .alex .heroSection h1 {
    font-size: 48px;
    line-height: 1.2;
    color: #1e293b;
    margin-bottom: 30px;
    font-weight: 700;
  }

  .alex .heroSection p {
    font-size: 16px;
    line-height: 1.8;
    color: #475569;
    margin-bottom: 18px;
  }

  /* Right Image */
  .alex .heroSection span:last-child {
    margin-top: -400px;
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    /* border: 1px solid black; */
    max-width: 300px;
  }

  .alex .heroSection img {
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    box-shadow: 0 20px 45px rgba(37, 99, 235, 0.2);
    transition: all 0.4s ease;
    animation: imageAnime 4s ease-in-out infinite normal;
  }
}

@media (max-width: 860px) {
  .alex {
    width: 100%;
    /* padding: 90px 0; */
  }

  .alex .wrapper {
    width: 100%;
    max-width: 1300px;
    margin: auto;
  }

  /* Main Section */
  .alex .heroSection {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: #fff;
    padding: 40px;
    border-radius: 35px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
    position: relative;
    overflow: hidden;
  }

  /* Decorative Blur */
  .alex .heroSection::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    background: rgba(37, 99, 235, 0.08);
    border-radius: 50%;
    top: -100px;
    right: -100px;
  }

  /* Left Content */
  .alex .heroSection span:first-child {
    /* border: 1px solid black; */
    flex: 1;
    position: relative;
    z-index: 2;
  }

  .alex .heroSection h1 {
    text-align: center;
    font-size: 34px;
    line-height: 1.2;
    color: #1e293b;
    margin-bottom: 30px;
    font-weight: 700;
  }

  .alex .heroSection p {
    font-size: 16px;
    line-height: 1.8;
    color: #475569;
    margin-bottom: 16px;
  }

  /* Right Image */
  .alex .heroSection span:last-child {
    margin-top: 0px;
    flex: 1;
    display: block;
    justify-content: center;
    position: static;
    z-index: 2;
    width: 100%;
    /* border: 1px solid black; */
    max-width: 100%;
    text-align: center;
  }

  .alex .heroSection img {
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    box-shadow: 0 20px 45px rgba(37, 99, 235, 0.2);
    transition: all 0.4s ease;
    animation: imageAnime 4s ease-in-out infinite normal;
  }
}
